@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,700i,800');

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F7F7F7;
}

h1, h2{
	font-family: 'Lobster', cursive;

}

h1{
	font-size: 4em;
}

aside{
	font-size: 2em;
}

main{
	font-size: 1.3em;
		color: gray;


}

header{
	background-color: white;
	max-width: 750px;
}

img{

}