body{
    font-family: sans-serif;
}

div{
    font-size: 3em;
    text-align: center;
}

header{
    background-color: lightgray;
    width: 100%;
}

button{
    margin-left: 25%;
    margin-right: 25%;
    background-color: deepskyblue;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
}